APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_TYPE=pgsql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

PERMISSION_USE_CACHE=是否启用后台权限缓存,启用后用户重新登录后才能生效修改
FILES_SERVICE=资源文件使用的服务商

REDIS_HOST=Redis服务器IP
REDIS_PORT=Redis服务器端口
REDIS_PASS=Redis服务器认证密码

MEMCACHED_HOST=缓存服务器IP
MEMCACHED_PORT=缓存服务器端口
